<header class="header">

<a href="/" class="header__logo">TECH TONIC</a>

<nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Home</a>
      </li>
      <li>
        <a href="/about" class="">About</a>
      </li>
     
    </ul>

</nav>

       <div class="header__button">
              <button class="searchBtn"  aria-expanded="false">
                Search
                <img src="images/search_icon.png" alt="search icon" width="17"  height="17">
              </button>
             
       </div>
      
          
</header>